body{
    background-color: #787774;
}

.main-chess-board-moves{
    margin-top: 2%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chessBrd-area{
    width: 55%;
    height: 100%;
}

.moveDetail-area{
    color: white;
    margin-left: 2%;
    width: 40%;
    height: 100%;
    box-shadow: 0px 1px 11px 2px black;
}

.newChessBrd{
    margin-left: auto;
    box-shadow: 0px 1px 11px 2px;
    height: 650px;
    width: 650px;
}

.moves-details{
    border: 1px solid #ccc;

    background-color: #353334;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;

}

.moves-details-wrapper div{
    margin: 8px;
    padding: 12px;
    display: block;
    
    font-size: 30px;
}

.player1Details, .player2Details{
    background-color: #252324;
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid #ccc;
}

.player1Details h2, .player2Details h2{
    padding-top: 20px;
    width: 80%;
    text-align: center;
    font-size: 35px;
}

.gameControllers{
    height: 50px;
    background-color: rgb(21, 25, 44);
    border: 1px solid #ccc;
}

.moveDetail-area img{

    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.finalMove{
    background-color: rgb(81, 95, 95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.gameControllers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-leave{

    background-color: #f11f31;
    
}

.btn-hint{

    background-color: #1dd420;
}

.btn-leave, .btn-hint {
    font-size: 20px;
    font-weight: bolder;

    margin-top: 4px;

    height: 80%;
    width: 20%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-leave:hover , .btn-hint:hover {
    background-color: #0056b3;
}

.btn-leave i {
    margin-right: 5px;
}

.blure{
    filter: blur(12px);
}

.matching-player-infos {
    padding: 0 0 20px 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    text-align: center;
}

.sign-cross {
    text-align: right;
    padding: 0 12px 0 0;
}

.sign-cross span {
    font-size: 24px;
    cursor: pointer;
    font-weight: bolder;
}

.match-making-message {
    margin-left: 20px;
}

.findingPlayerHeading span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Opt {
    flex: 0 0 calc(25% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
}

.Opt img {
    width: 50px; 
    height: 50px; 
}

/* Hover effect */
.Opt:hover {
    transform: scale(1.1); 
}


@media screen and (max-width: 999px) {

    .main-chess-board-moves{
        margin-top: 2%;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .chessBrd-area{
        margin-left: 2%;
        width: 80%;
        height: 100%;
    }
    
    .moveDetail-area{
        color: white;
        margin-left: 2%;
        margin-top: 4%;
        width: 80%;
        height: 100%;
        box-shadow: 0px 1px 11px 2px black;
    }
}