.side-nav-bar{
    position: fixed;
    height: 100%;
    width: 20%;

    background-color: aqua;
}

.page-content{
    margin-left: 20%;
    position: fixed;
    height: 100%;
    width: 80%;

    background-color: rgb(141, 147, 147);
}