*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #dedede;
}

.main-container{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.side-nav{
    width: 20%;
    height: 100%;

    background-color: #454545;
}

.content{
    width: 80%;
    height: 100%;
}

.side-nav nav li{
    
    list-style: none;
}

.side-nav nav li a{

    padding: 20px;

    display: block;
    
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.side-nav nav li a:hover{
    background-color: #1a1a1a;
}

.content{
    overflow: auto;
}