.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modeList{
    display: flex;
    flex-direction: column;
}

.modeList a{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
}